# Capstone Project Week 3B
Week 3 assignment part B.  
Author: E. Hagen

In [1]:
import numpy as np
import pandas as pd
import requests

Load wikipedia table into `pandas.DataFrame`:

In [2]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
df = pd.read_html(url, header=0)[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

Remove rows where `'Borough' == 'Not assigned'`:

In [3]:
df.drop(np.where(df['Borough'] == 'Not assigned')[0], inplace=True)
df.reset_index(drop=True, inplace=True)
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Set rows where `Neighbourhood == 'Not assigned'` to `Borough` value:

In [4]:
inds = df['Neighbourhood'] == 'Not assigned'
df.loc[inds, ('Neighbourhood')] = df['Borough'][inds]
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Concatenate `Neighbourhood` values by their unique `Postcode` and `Borough`:

In [5]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

Print out number of rows in dataset:

In [6]:
print('Number of rows in dataset: {}'.format(df.shape[0]))

Number of rows in dataset: 103

Extract latitude and longitudes for each Neighbourhood, and fill in DataFrame:

In [7]:
# download data
!wget --content-disposition https://cocl.us/Geospatial_data

--2020-02-07 13:14:47--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 159.8.69.24, 159.8.69.21, 159.8.72.228
Connecting to cocl.us (cocl.us)|159.8.69.24|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-07 13:14:48--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-07 13:14:49--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-07 13:14:49--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!Z_uxAtsNHfz1qw76zuXEpZhRawlHp0D7HsYCNgUL5q9_1FqOnKg4WTQTpHh53gRVXdTvQqrCy94FpqrcBEQJiFv24iqsHoYfkKSWha2FHWoQnhPHc1cDHYP8GszQac-sQqp1PA0Is87r0NuNqEYoyH6wFgQ-8pA0USvsUgbTQmLSbgAI0hvEBGQC-WW99pV4_Er6Svm8CQlbB-FJuEcfLPX3KszkmrJ7bc_-_bh8TdNf5b-taGQu4zlqQi5QQSUxNiFvcLQPm849Ad-S2nGhbJ2WUgZt8E6h5WRudvu54k18bMFOyhdWeFGb8ZuGASC9PNmy64mPXZBXk-Ho3bZJ7mhf8CvaQFD7PcxkyDaMzBlh62c83IUXj1KpZAYiNVR5fr4_5nWQ4LPmqShBEl4D4ku4yYCnEDoOIY-VjMg2b3m6lPytBjS-M9vAxzzD8ODylNUVaZEHJ3Lk3K7AO1pAWrVRHeiqCa6Bxz28VQIXebkis76ZeLTPN1YF4e89SxyQIO7DahRMVZNBbX1LrW7D8eluxZjOBRh5EMN5WLAhIX1W0am_P5OmPviHaVJMxDrxt043qF3t5GnAW0jB3qU-yaMP4ycku7wJ3z2P2rQvhwBLRne9lAL95G9H-khco1vbh9TZts7CubnNGb6QT63-25kRjJfeTs6T7f1VVg8LD4CazT0PGBsFQAOlfGizFPpeu8H9zDsCxBsovnYew3Mk8yG6GtewTFuffc6kRW-KcWpOLfpvOYtxAZNF_ig3cgXyVZsXc6mCiF3N-tOncThr-xIwlo1bc6F5DdrWXQa004z3NtkKdawcQdeh1__4gXwrffJHNi6_z1-pyfhevc9-jz98vnrTSYGE8nm4BfMTEIFJbZoNJ7p0BOJEjVMemE21HCrIxOTPEPTNVA3vtZSf95G_7WnnxKvSssBjV8VS9b6KDvqonXEMx7Z6_OTgWpiI2N0K40BRafz5193eMPV4KIfFFbOMdTPNZGzydWzpIVs1DuFNPi3foXx0a6_Unsj-d2Yp8-XfpD1DL5U51iS_QT8c6_26RrBtMg1k73icMhoDt1aRYSHnYyzci1-zGzsgM5SVqyu2GJ1a1f8cOuyqrDJCrdW4TxQ6F8yQoqhgeiIMqQWSCGRpLGRe5dqyccPfEcEHxoLvaNM6qF2LKbSIopylBc_wAQ5Kj9YoEraerqr53tI_wqbWKQzm81kD6U6_-0uAlOsh1jICHGjJhlGrT8s6sI4MGtfiU32fGxQFzJ2crUTk-5kKWqXp4bH7vvrPQmFlBgK_wGFkWT5U8mmDNNLkF9pTOUY3wwraBhlMtiDAycq5X2t26zpElpSney-i0I1PBy1es2Wh3hYsToDn1zGQmHMKkuN9Bd-pQbrprvktp45ysGmHGs7aAd6mug../download [following]
--2020-02-07 13:14:49--  https://public.boxcloud.com/d/1/b1!Z_uxAtsNHfz1qw76zuXEpZhRawlHp0D7HsYCNgUL5q9_1FqOnKg4WTQTpHh53gRVXdTvQqrCy94FpqrcBEQJiFv24iqsHoYfkKSWha2FHWoQnhPHc1cDHYP8GszQac-sQqp1PA0Is87r0NuNqEYoyH6wFgQ-8pA0USvsUgbTQmLSbgAI0hvEBGQC-WW99pV4_Er6Svm8CQlbB-FJuEcfLPX3KszkmrJ7bc_-_bh8TdNf5b-taGQu4zlqQi5QQSUxNiFvcLQPm849Ad-S2nGhbJ2WUgZt8E6h5WRudvu54k18bMFOyhdWeFGb8ZuGASC9PNmy64mPXZBXk-Ho3bZJ7mhf8CvaQFD7PcxkyDaMzBlh62c83IUXj1KpZAYiNVR5fr4_5nWQ4LPmqShBEl4D4ku4yYCnEDoOIY-VjMg2b3m6lPytBjS-M9vAxzzD8ODylNUVaZEHJ3Lk3K7AO1pAWrVRHeiqCa6Bxz28VQIXebkis76ZeLTPN1YF4e89SxyQIO7DahRMVZNBbX1LrW7D8eluxZjOBRh5EMN5WLAhIX1W0am_P5OmPviHaVJMxDrxt043qF3t5GnAW0jB3qU-yaMP4ycku7wJ3z2P2rQvhwBLRne9lAL95G9H-khco1vbh9TZts7CubnNGb6QT63-25kRjJfeTs6T7f1VVg8LD4CazT0PGBsFQAOlfGizFPpeu8H9zDsCxBsovnYew3Mk8yG6GtewTFuffc6kRW-KcWpOLfpvOYtxAZNF_ig3cgXyVZsXc6mCiF3N-tOncThr-xIwlo1bc6F5DdrWXQa004z3NtkKdawcQdeh1__4gXwrffJHNi6_z1-pyfhevc9-jz98vnrTSYGE8nm4BfMTEIFJbZoNJ7p0BOJEjVMemE21HCrIxOTPEPTNVA3vtZSf95G_7WnnxKvSssBjV8VS9b6KDvqonXEMx7Z6_OTgWpiI2N0K40BRafz5193eMPV4KIfFFbOMdTPNZGzydWzpIVs1DuFNPi3foXx0a6_Unsj-d2Yp8-XfpD1DL5U51iS_QT8c6_26RrBtMg1k73icMhoDt1aRYSHnYyzci1-zGzsgM5SVqyu2GJ1a1f8cOuyqrDJCrdW4TxQ6F8yQoqhgeiIMqQWSCGRpLGRe5dqyccPfEcEHxoLvaNM6qF2LKbSIopylBc_wAQ5Kj9YoEraerqr53tI_wqbWKQzm81kD6U6_-0uAlOsh1jICHGjJhlGrT8s6sI4MGtfiU32fGxQFzJ2crUTk-5kKWqXp4bH7vvrPQmFlBgK_wGFkWT5U8mmDNNLkF9pTOUY3wwraBhlMtiDAycq5X2t26zpElpSney-i0I1PBy1es2Wh3hYsToDn1zGQmHMKkuN9Bd-pQbrprvktp45ysGmHGs7aAd6mug../download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv.5’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0s

2020-02-07 13:14:50 (67.2 MB/s) - ‘Geospatial_Coordinates.csv.5’ saved [2891/2891]

In [8]:
# coordinates for each code
coords = pd.read_csv('Geospatial_Coordinates.csv')
coords

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [9]:
# concatenate location coordinates to DataFrame sorted according to Postcode value 
# (order may not be the same)
df = pd.concat([df, 
                pd.concat([coords.loc[coords['Postal Code']==pc,
                                      ['Latitude', 'Longitude']] 
                           for pc in df.loc[:, 'Postcode']])], 
               axis=1, sort=False)
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054